<!-- Tailwind CSS -->
{{ $css := resources.Get "css/main.css" | resources.PostCSS }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ else }}
  {{ $css := $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ end }}

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- Custom JS -->
<script defer src="/js/animations.js"></script>

<!-- Hack Font -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
